.panel {
    line-height: 1.3em;
}

h1 {
    border-bottom: 1px solid #ddd;
}

.right-border {
    border-right: 1px solid #ddd;
}

.monthly-table-kw {
    color: #1622ff;
}

.monthly-table-cost {
    color: #ff5d00;
}
